@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

p {
  margin: 0
}

.hidden {
  display: none !important;
}

.attribution {
  margin-top: 2em;
  font-size: 11px;
  text-align: center;

   a {
    color: hsl(228, 45%, 44%);
  }
}

:root {
  --default-font:      'Manrope';
  --default-font-size: 13px;

  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue:  hsl(214, 17%, 51%);
  --grayish-blue:           hsl(212, 23%, 69%);
  --light-grayish-blue:     hsl(210, 46%, 95%);
}

body {
  color:            var(--very-dark-grayish-blue);
  font-family:      var(--default-font);
  font-size:        var(--default-font-size);
  background-color: var(--light-grayish-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  font-size: 1.5em;
}

.article {
  background-color: white;
  border-radius:    0.7em;
  display:          flex;
  flex-direction:   column;
  width:            330px;

  .article__picture {
    height: 200px;
    border-radius: 0.7em 0.7em 0 0;
  }

  header {
    padding: 1.5em 2em;

    h3 {
      margin-top: 0.6em;
    }
    p {
      line-height: 1.7em;
      color:       var(--desaturated-dark-blue)
    }
  }

  footer {
    min-height: 60px;
    padding:         1em 2em;
    display:         flex;
    align-items:     center;
    justify-content: space-between;

    border-radius: 0 0 0.7em 0.7em;
  }

  .article__footer__left {
    flex-grow: 2;
    display:   flex;

    .article__author-picture {
      width:         48px;
      height:        48px;
      border-radius: 100%;
      margin-right:  1em;
    }

    .article__general-infos {
      display:        flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .article__general-infos__author {
      font-weight: 700;
    }

    .article__general-infos__publication-date {
      color: var(--grayish-blue)
    }
  }

  .article__share-icon {
    border-radius:    50%;
    padding:          1em;
    border:           none;
    outline:          none;

    position: absolute;
    right:    2em;
    z-index:  1;

    &:hover {
      cursor: pointer;
    }
  }


  .footers {
    position: relative;
  }

  .article__share-menu--open {
    display:        flex;
    align-items:    center;

    color: var(--light-grayish-blue);
    background-color: var(--very-dark-grayish-blue);

    position:      absolute;
    top:           0;
    bottom:        0;
    right:         0;
    left:          0;

    .article__footer__left {
      align-items: center;
    }

    p {
      text-transform: uppercase;
      letter-spacing: 0.5em;
      margin-right:   1em;
    }

    ul {
      padding-left: 0;
      list-style-type: none;
      display: flex;
      align-items: center;

      li {
        margin: 0 0.5em;
      }
    }
  }

  .article__share-icon.active {
    background-color:  var(--desaturated-dark-blue);
    svg {
      path {
        fill: white;
      }
    }
  }
}

.article {
  @media (min-width: 820px) {
    margin-top: 1em;

    flex-direction: row;
    width:          800px;


    .article__picture {
      height:        310px;
      width:         auto;
      border-radius: 0.7em 0 0 0.7em;
    }

    .article__right {
      display:         flex;
      flex-direction:  column;
      justify-content: space-between;
    }

    .footers {
      position: relative;
      z-index:  1;
    }

    .article__share-menu--open {
      border-radius: 0.7em;
      width:         200px;
      top:           initial;
      bottom:        90px;
      left:          240px;

      box-shadow: 0px 8px 9px 1px hsla(217, 19%, 35%, 0.15);

      .article__footer__left {
        justify-content: center;
      }

      &:before {
        content: "";
        display:  block;
        position: absolute;
        z-index:  -1;
        height:   30px;
        width:    30px;
        bottom:   -14px;
        left:     112px;

        background-color: var(--very-dark-grayish-blue);
        transform:        rotate(45deg);
        box-shadow:       0px 8px 9px 1px hsla(217, 19%, 35%, 0.15);
        overflow:         hidden
      }
    }

    .article__share-icon.active {
      background-color: var(--very-dark-grayish-blue);
      svg {
        path {
          fill: white;
        }
      }
    }
  }
}
